body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  background-image: url(./Bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .first {
  width: 100%;
  height: 50%;
  margin-top: -40%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .first img {
  width: 100%;
  height: 100%;
}

section .first .obj {
  position: absolute;
  width: 40%;
  height: 35%;
}

section .first .bg {
  background-size: cover;
}

section .title {
  width: 100%;
  height: 40%;
  margin-top: -20%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .title .heading {
  width: 100%;
  height: 40%;
  padding: 6%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

section .title .heading h2 {
  margin-bottom: -7%;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

section .second {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .second .heading {
  margin: 5px;
  height: 20%;
  margin-top: 10%;
}

section .second .form {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .second .form form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .second .form form input {
  width: 100%;
  padding: 8% 4%;
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 2.5%;
  font-size: 1em;
}

section .second .form form button {
  margin-top: 20%;
  width: 70%;
  padding: 4% 4%;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
}
/*# sourceMappingURL=register_user.css.map */